@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
    margin: 0;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
}
.navbar-collapse {
    flex-direction: row-reverse;
}
.ancho-restringido {
    max-width: 750px;
}
.titulo-logo {
    font-weight: 300%;
}
.nav-link {
    transition: 0.5s;
}
.titulo-pestaña-productos {
    margin: 20px;
    padding: 10px;
}

.barra {
    background-color: #51b5ce !important;
}
.cartas {
    margin-bottom: 40px;
}
